body {

  font-family: "Arial", serif;

}
h1 {

  text-shadow: 4px 4px 0 #cccccc;

}
p {

  text-shadow: 2px 2px 0 #cccccc;

}
h3 {

  text-shadow: 2px 2px 0 #cccccc;

}
f{
text-decoration: none;
}
