body {

  font-family: "Times New Roman", serif;

}
h1 {

  text-shadow: 1px 1px 0 #cccccc;
  font-style: italic
}
p {

  text-shadow: 2px 2px 0 #cccccc;

}
h2 {

  color: black
    text-background: white}
a{
  text-decoration: none}

.button{
  margin: 20px;
}
  
  
  
.buttonn a {
  text-decoration: none;
  background-color: blue;
  
}
