body {

  font-family: "Arial", serif;

}
h1 {

  text-shadow: 4px 4px 0 #cccccc;

}
p {

  text-shadow: 2px 2px 0 #cccccc;

}
h3 {

  text-shadow: 2px 2px 0 #cccccc;}

.button{
  margin:100px;
}
  
  
.button a{
  text-decoration: none;
  font-size: 30px;
  font-family: monospace;
  background-color: red;
  padding: 10px 30px;
  color: black;
  
  border-radius: 100px;
  border: 1px;
  border-bottom:3px;
}

